@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('fonts/georgia.woff') format('woff');
    }
    

@font-face {
    font-family: 'Georgia Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold'), url('fonts/georgiab.woff') format('woff');
    }

a {
    text-decoration: none;
}
.hero {
    height: 100vh;
}
nav {
    height: 85px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
    margin-left: 275px;
}
.nav__links-list {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav__link {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
}
.nav__buttons {
    margin-right: 275px;
}
.nav__sign-in {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #000000;
    
}
.nav__start-trial {
    margin-left: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    
    text-align: center;
    
    color: #FFFFFF;
    padding: 13px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}
.hero__content {
    background: url(../assets/bg.png) no-repeat center;
    background-size: cover;
    height: 91%;
}
.hero__text {
    width: 440px;
    padding-left: 275px;
    padding-top: 175px;
}
.hero__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    
    color: #01996D;
}
.hero__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    
    color: #484848;
    margin-top: 30px;
}
.hero__button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    
    text-align: center;
    color: #FFFFFF;
    margin-top: 56px;
    padding: 20px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}


.steps__content {
    padding: 0 275px;
    padding-top: 170px;
    padding-bottom: 50px;
}
.steps__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    /* identical to box height, or 38px */
    
    
    color: #424242;
}
.steps__text {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.steps__title {
    width: 45%;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    /* or 79px */
    
    
    color: #01996D;
}
.steps__article {
    width: 45%;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    
    
    color: #424242;
    
}
.steps__parent {
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.steps__child {
    width: 30%;

}
.steps__child-title {
    position: relative;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    
    text-align: center;
    
    color: #000000;
}
.steps__child-title span {
    right: 50%;
    bottom: auto;
    position: absolute;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    /* identical to box height, or 225px */
    
    text-align: center;
    
    color: rgba(1, 153, 109, 0.2);
}
.steps__chiled-text {
    padding-top: 55px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    
    
    color: #424242;
    
}
.steps__child-img {
    padding-top: 60px;
}

.video {
    background: #245852;
}
.video__content {
    padding: 230px 207px 180px 207px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.video__text {
    width: 40%;
}
.video__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    /* or 79px */
    
    
    color: #FFFFFF;
    
}
.video__subtitle {
    margin-top: 33px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    /* or 39px */
    
    
    color: #FFFFFF;
    
}
.video__button {
    margin-top: 57px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    
    
    color: #FFFFFF;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 50px;    
}
.video__video-player {
    width: 55%;
}

.our-product__content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 120px 275px 170px 275px;
}
.our-product__images {
    width: 45%;
    position: relative;
}
.our-product__card{
    z-index: 2;
    bottom: -74px;
    left: -60px;
    position: absolute;
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 3.72971px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}
.our-product__card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-product__card-title {
    padding-top: 22px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14.49px;
    line-height: 157%;
    /* or 23px */
    
    text-align: center;
    
    color: #000000;
}
.our-product__card-title::after {
    bottom: -8px;
    content: " ";
    border: 0.745942px solid #000000;
    position: absolute;
    width: 110.49px;
    height: 0px;
}
.our-product__card-avatar {
    padding-top: 22px;
}
.our-product__card-name {
    padding-top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11.9351px;
    line-height: 157%;
    /* identical to box height, or 19px */
    
    text-align: center;
    
    color: #000000;
    
}
.our-product__card-list-title {
    padding-top: 20px;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 15.9292px;
    line-height: 157%;
    /* identical to box height, or 25px */
    
    
    color: #000000;
}
.our-product__card-list {
    display: flex;
    flex-direction: column;
    align-items: start !important;
}
.our-product__card-list-child {
    padding-left: 60px;
    padding-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10.6195px;
    line-height: 157%;
    /* identical to box height, or 17px */
    
    text-align: center;
    
    color: #000000;
    
}
.our-product__text {
    width: 45%;
}
.our-product__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    /* or 39px */
    
    
    color: #424242;
    
}
.our-product__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    /* or 79px */
    
    
    color: #01996D;
    margin-top: 10px;
}
.our-product__arcticle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    
    color: #484848;
    width: 90%;
    margin-top: 20px;
}
.our-product__button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    
    
    color: #FFFFFF;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 50px;
    margin-top: 40px;
}
footer {
    background: #245852;
}

.footer__content {
    padding: 95px 0 144px  275px;
}
.footer__title {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
.footer__list li {
    padding-top: 60px;
}
.footer__child {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}